// Mixins in here
.flex(@justify: space-between, @align: center, @width: 100%) {
  display: flex;
  justify-content: @justify;
  align-items: @align;
  width: @width;
}

.bordered() {
  bottom-border: 2px dashed gray;
  padding: 30px;
}
