// Navigation Styles here
header {
  .flex();

  @media screen and (max-width: 500px) {
    flex-direction: column;
  }

  nav {
    .flex(@width: 40%);

    @media screen and (max-width: 500px) {
      width: 90%;
      padding-top: 5%;
    }
  }
}
